<section id="login" class="card auth-box">
  <h2>Sign in to see what’s happening around campus</h2>
  <form name="loginForm" ng-submit="login(user)" novalidate autocomplete="off">
    <div class="form-row">
      <span class="form-icon">📧</span>
      <input type="email" name="email" placeholder="Enter your email address" ng-model="user.email" required />
    </div>
    <p class="error" ng-show="loginForm.email.$touched && loginForm.email.$error.required">Email is required.</p>
    <p class="error" ng-show="loginForm.email.$touched && loginForm.email.$error.email">Invalid email format.</p>
    <div class="form-row">
      <span class="form-icon">🔒</span>
      <input type="password" name="password" placeholder="Enter your password" ng-model="user.password" required />
    </div>
    <p class="error" ng-show="loginForm.password.$touched && loginForm.password.$error.required">Password is required.</p>
    <button type="submit" ng-disabled="loginForm.$invalid">Sign In</button>
    <p class="redirect">Don't have an account? <a href="#!/register">Register</a></p>
  </form>
</section>
