<form id="postForm" ng-submit="submitPost()">
  <select id="post-location" ng-model="moment.location" required>
    <option value="" disabled selected>Select Location</option>
    <option>Library</option>
    <option>IT Block</option>
    <option>CSE Block</option>
    <option>Main Block</option>
    <option>Auditorium KS</option>
    <option>Ground</option>
    <option>Canteen</option>
  </select>
  
  <input type="file" accept="image/*" onchange="angular.element(this).scope().handleImage(this)" />
  
  <textarea placeholder="What’s Happening?" id="post-text" ng-model="moment.text" required></textarea>
  
  <select id="post-category" ng-model="moment.category" required>
    <option disabled selected>Choose Category</option>
    <option>Fun</option>
    <option>Alert</option>
    <option>Event</option>
    <option>Lost & Found</option>
  </select>
  
  <select id="post-expiry" ng-model="moment.expiry" required>
    <option disabled selected>Expiry Time</option>
    <option>30 mins</option>
    <option>1 hr</option>
    <option>2 hrs</option>
  </select>
  
  <button type="submit">Post Moment</button>
</form>
